#share-container {
  float:left;
}
#shareme .box{
  float:left;
  margin:5% 8% 0 5px;
  width:100%;
}
#shareme .box a{
  color:#ccc;
  text-shadow: 0 1px 1px rgba(167,167,167,.4);
}
#shareme .box a:hover{
  text-decoration:none;
}
#shareme .count {
  font-weight:bold;
  font-size:50px;
  float:left;
  border-right:2px solid #00a50c;
  line-height:40px;
  padding-right:10px
}
#shareme .share {
  float:left;
  margin-left:10px;
  font-size:20px;
  width:200px;
  position: relative;
  top: -2px;
}
#shareme .share img {
  position: relative;
  top: 4px;
}
#shareme .buttons {
  position: absolute;
  width:234px;
  background-color:#fff;
  border: 1px solid rgba(0,0,0,.2);
  padding:10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#shareme .button {
  float:left;
  max-width:50px;
  margin:0 10px 0 0;
}
#shareme .facebook {
  margin:0 4px 0 0;
}
